.pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  background: #fff;
  border: 3px solid white;
  border-radius: 200px;
  margin: 1rem;
  position: relative;
  box-shadow: 0px 5px 20px black, 0px 5px 20px black;
  text-align: left;
}

.pic:hover {
  animation: growTile .35s;
  animation-fill-mode: forwards;
  box-shadow: 0px 8px 25px black, 0px 8px 25px black;
}

@keyframes growTile {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}
