.nav {
  color: crimson;
  font-size: 22px;
  line-height: 21px;
  font-family: 'Playfair Display', serif;
  height: 75px;
  background-color: black;
  text-align: center;
  padding-bottom: 20px;
}

h1 {
  color: lightgrey;
  line-height: 15px;
  font-size: 30px;
}