.nav {
  color: white;
  font-size: 20px;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
  height: 75px;
  background-color: black;
  text-align: center;
  padding-bottom: 20px;
}

h1 {
  color: gray;
  line-height: 15px;
  font-size: 30px;
}